<div class="landing-page">

  <div class="row">
    <div class="col-md-8">
      {{ content.header_left }}
    </div>

    <div class="col-md-4">
      {{ content.header_right }}
    </div>
  </div>

{% if page.above_content %}
{% else %}
 <hr class="divider--less-top">  
{% endif %}


  <div class="row">
    <div class="col-md-4">
      {{ content.promo_1 }}
    </div>
    <div class="col-md-4">
      {{ content.promo_2 }}
    </div>
    <div class="col-md-4">
      {{ content.promo_3 }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <hr>
      {{ content.body_left }}
    </div>

    <div class="col-md-4">

      {{ content.body_right }}
    </div>
  </div>


{% if content.footer_1 %}
  <div class="row display-flex">
    {% for item in content.footer_1 %}
      <div class="col-md-3">{{ item }}</div>
    {% endfor %}
  </div>
{% endif %}


  <div class="row display-flex">
 {% if content.footer_1 %}
    <div class="col-md-3">
      {{ content.footer_1 }}
    </div>
{% endif %}
 {% if content.footer_2 %}
    <div class="col-md-3">
      {{ content.footer_2 }}
    </div>
{% endif %}
 {% if content.footer_3 %}
    <div class="col-md-3">
      {{ content.footer_3 }}
    </div>
{% endif %}
 {% if content.footer_4 %}
  <div class="col-md-3">
      {{ content.footer_4 }}
    </div>
{% endif %}
 {% if content.footer_5 %}
    <div class="col-md-3">
      {{ content.footer_5 }}
    </div>
{% endif %}
 {% if content.footer_6 %}
    <div class="col-md-3">
      {{ content.footer_6 }}
    </div>
{% endif %}
 {% if content.footer_7 %}
    <div class="col-md-3">
      {{ content.footer_7 }}
    </div>
{% endif %}
 {% if content.footer_8 %}
    <div class="col-md-3">
      {{ content.footer_8 }}
    </div>
{% endif %}
  </div>

</div>
