<div class="landing-page">

  <div class="row">
    <div class="col-md-8">
      {{ content.header_left }}
    </div>

    <div class="col-md-4">
      {{ content.header_right }}
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      {{ content.promo_1 }}
    </div>
    <div class="col-md-6">
      {{ content.promo_2 }}
    </div>
  </div>

<hr>
 {% if content.above_content %}
   <div class="row above-content">
    <div class="col-xs-12">
        {{ content.above_content }}
    </div>
   </div>
 {% endif %}

 {% if content.below_content %}

<div class="row below-content">
    <div class="col-xs-12">
        {{ content.below_content }}
</div>
</div>
{% endif %}


  <div class="row">
    <div class="col-md-8">
    
      {{ content.body_left }}
    </div>

    <div class="col-md-4">

      {{ content.body_right }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      {{ content.footer_1 }}
    </div>
    <div class="col-md-3">
      {{ content.footer_2 }}
    </div>
    <div class="col-md-3">
      {{ content.footer_3 }}
    </div>
  <div class="col-md-3">
      {{ content.footer_4 }}
    </div>

   
  </div>
</div>
